---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Project Demos">
    <div class="max-w-[700px] w-full p-8">
        <h1 class="text-4xl mb-4">Demos</h1>
        <p class="text-muted/50 italic">A showcase of some of my projects...</p>
    </div>
    <div id="container" class="max-w-[1200px]">
        <p class="w-full text-center text-muted py-8">Nothing here yet, check back soon!</p>
    </div>
</Layout>